:root {
  --cr-start-direction: left;
  --cr-end-direction: right;
}
body {
  background: #23252b;
  color: #f47521;
}
.color-Crunchyroll {
  background: linear-gradient(45deg, #c4910a, #f47521);
  color: #fff;
}

.color-Modal {
  background: #23252b;
  color: white;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 30%,
    rgba(0, 0, 0, 0.1) 100%
  );
  z-index: 1;
}
/* ESTILOS CARRRUSEL */
.carousel-caption {
  text-align: left;
  top: 25%;
  left: 5%;
  right: auto;
  bottom: auto;
  transform: translateY(-50%);
  z-index: 2;
}

.title-main {
  font-size: 4rem;
  font-weight: bold;
  color: #ffcc00;
  text-shadow: 2px 2px 5px #000;
}

.subtitle {
  font-size: 2rem;
  color: red;
}

.desc {
  color: white;
  max-width: 600px;
  margin-top: 1rem;
  font-size: 1.1rem;
}

.btn-orange {
  background-color: #ff7f00;
  color: white;
  border: none;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
}

.badge-age {
  background-color: #333;
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
}

.bookmark {
  border: 2px solid orange;
  background-color: transparent;
  color: orange;
  font-weight: bold;
  margin-left: 1rem;
}

.carousel-indicators [data-bs-target] {
  background-color: #ff7f00;
}

@media (max-width: 768px) {
  .title-main {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  .desc {
    font-size: 1rem;
  }
}
.fondo {
  background: radial-gradient(
    circle at 87.5% 12.5%,
    #ffc135 0,
    #ffaf22 25%,
    #ff9900 50%,
    #f58300 75%,
    #ee6e00 100%
  ); /* Color de fondo de los lados sin imágenes */
  background-size: 50px 100%, auto, auto, auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  padding-top: 30px;
}
.fondo-black {
  background-color: #23252b;
  color: #fff;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.floating-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #f47521;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  z-index: 9999;
  cursor: pointer;
}
/*
footer {
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 20px 0;
}
.footer-container {
  /*max-width: 1200px;*/
/*margin: 0 auto;*/
display: flex;
flex-wrap: wrap;
/*justify-content: space-between;*/
gap: 20px;
/*padding: 0 20px;
}
.footer-column {
  box-sizing: border-box;
  flex: 1 1 calc(33.33% - 20px); /* Tamaño de cada columna 
  margin: 10px;
  border: 1px solid #444;
  padding: 15px;
  background-color: #1f1f1f;
}
.footer-column h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
}
.footer-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-column ul li {
  margin: 5px 0;
}
.footer-column ul li a {
  text-decoration: none;
  color: #c4c4c4;
  transition: color 0.3s;
}
.footer-column ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.Premium-Crunchyroll:hover {
  color: #ffffff;
  text-decoration: underline;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}*/
footer {
  background: linear-gradient(to bottom, #0d0d0d, #1e2a33);
  color: white;
  padding: 40px 20px 20px;
  font-size: 0.9rem;
}

footer a {
  color: #ccc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: #f9a825;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-bottom {
  border-top: 1px solid #555;
  margin-top: 2rem;
  padding-top: 1rem;
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom .language {
  display: flex;
  align-items: center;
}

.footer-bottom i {
  margin-right: 5px;
}

.emoji {
  color: gold;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
.img-sony {
  margin-inline-end: 0.5rem;
  color: #ffff;
  width: 9.875rem;
  height: 0.75rem;
}
.floating-button.show {
  display: block;
}
.filtro {
  display: none;
}
.enlace-noticias {
  color: grey;
  text-decoration: none;
}
.enlace-noticias:hover {
  color: #fff;
  text-decoration: none;
}
.content {
  background-color: #23252b;
  color: #fff;
}
.card {
  background: #23252b;
  color: #2abdbb;
}
.card-title {
  color: #fff;
}
.card-title a .link {
  color: #fff;
  text-decoration: none;
}
.color-white {
  color: #fff;
}
.color-pelicula {
  color: #8ddc9e;
}
::-webkit-scrollbar {
  width: 15px;
}
#imagen-top {
  background-color: #000;
  opacity: 25px;
}
#imagen-titulo {
  width: 480px;
  height: 320px;
  margin-top: 600px;
  margin-bottom: 210px;
  margin-left: 0px;
  margin-right: 900px;
}
.background-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-images img {
  position: absolute;
  opacity: 1;
}

.background-images img.character-left {
  bottom: 0;
  left: 10px;
  height: 70%;
}

.background-images img.character-right {
  bottom: -50px;
  right: 10px;
  height: 30%;
}

.container-news {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 25px;
}

.seccion-principal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.seccion-principal img {
  height: 200px;
  width: 18rem;
}

.left-section,
.right-section {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 8px;
  width: 630px;
  height: 830px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.news-title-h1 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 768px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.news-title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 420px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-title img {
  width: 40px;
  margin-bottom: 10px;
}
.news-title img {
  width: 24px;
  margin-right: 10px;
}

.news-item {
  margin-bottom: 20px;
}

.news-item img {
  width: 100%;
  border-radius: 8px;
}
.news-item a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.news-item a:hover {
  text-decoration: underline;
}
.recent-news ul {
  list-style: none;
  padding: 0;
}

.recent-news li {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}

.recent-news img {
  width: 80px;
  height: 60px;
  border-radius: 4px;
  object-fit: cover;
}

.recent-news a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.recent-news a:hover {
  text-decoration: underline;
}
.descripcion-news {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: unset;
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  bottom: 30px;
  left: 10px;
  right: 10px;
  text-rendering: auto;
  text-align: left; /* Justifica a la izquierda */
  margin-top: 300px;
  margin-bottom: 350px;
  margin-right: 900px;
  color: white;
  text-shadow: 1px 1px #0000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  padding: 0px;
}
.button-carrousel {
  background-color: #f47521;
  color: #000;
  text-decoration: none;
  width: 250px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 1.125rem;
  box-shadow: inset 0 0 0 0.125rem #f47521;
  cursor: pointer;
  margin-top: 200px;
  margin-bottom: 220px;
}
.carousel-indicators button.active {
  background-color: #f47521;
  width: 4.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.carousel-indicators button {
  width: 4.5rem;
  height: 0.5rem;
}
.button-favorite {
  height: 50px;
  width: 50px;
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 1.125rem;
  border-color: #f47521;
  border: 2px solid;
  color: #f47521;
  background: black;
  margin-top: 200px;
  margin-bottom: 220px;
  position: relative;
}
.tooltip-box {
  display: none;
  position: absolute;
  background: #34495e;
  line-height: 1.125rem;
  z-index: 500;
  text-align: center;
  justify-content: center;
  color: #ffff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 140px;
  height: 35px;
  left: 0;
  right: 0;
  bottom: 285px;
}
.tooltip-box::after {
  content: "";
  display: block;
  border-top: 7px solid #34495e;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -7px;
  left: 20px;
}
.btn-group:hover .tooltip-box {
  display: inline-block;
}
.button-carrousel:hover {
  background: #f8aa77;
  color: #000;
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 1.125rem;
  box-shadow: none;
  text-decoration: none; /* Agrega un efecto de flash */
}
.button-carrousel:focus {
  background-color: #f8aa77;
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 1.125rem;
  box-shadow: none;
  color: #000;
  text-decoration: none;
}
.form {
  position: relative;
  width: 1145px;
}
.input {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: 1px solid rgba(221, 221, 221, 0.39);
}
.input-border {
  position: absolute;
  background: #f47521;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
/* Hover on Input */
input:hover {
  background: #4985e01f;
}

input:focus {
  outline: none;
}
/* here is code of animated border */
input:focus ~ .input-border {
  width: 100%;
}
.title-section {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.link-section {
  color: grey;
  text-decoration: none;
  display: flex;
  flex: 0 0 auto;
  margin-top: 1rem;
  margin-left: 33rem;
  padding-left: 33rem;
}
.link-section:hover {
  color: #fff;
  text-decoration: none;
}
.floating-buttons-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}
::-webkit-scrollbar-track {
  border: 5px solid #23252b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}
::--cr- ::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #c4910a, #f47521);
  border-radius: 5px;
}
